<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.anotherclass.bitcamp.dao.user.UserCommunityDAO">
     <select id="CommuDetailAllRecord" resultType="com.anotherclass.bitcamp.vo.user.CommunityVO">
     <![CDATA[
      select community_no, community_tag, img1,  img_con1, img2, img_con2, img3, img_con3, img4, img_con4, member_id, hit, writedate
      from community
      where community_no = #{param1}
      ]]>
     </select>
     
          <select id="communityAllList" resultType="com.anotherclass.bitcamp.vo.user.CommunityVO">
     <![CDATA[
      select a.community_no, a.community_tag, a.img1,  a.img_con1, a.img2, a.img_con2, a.img3, a.img_con3, a.img4, a.img_con4, a.member_id, a.hit, a.writedate, b.member_img
      from community a, memberTbl b
      where a.member_id = b.member_id
      ]]>
     </select>
  
  </mapper>
  