@charset "UTF-8";



html, body {
	height:100%;
}

#wrap{
	height:100%;
}

#contents-wrap{
	height:100%;
}

#container{
	height:100%;
}


.class-map-wrap {
	position:relative;
	top:0; left:0;
	height:100%;
	padding-left:500px;
}

#class-map-view {
	position:relative;
	top:0; left:0;
	height:100%;
	width:100%;
	
	background-color:#eee;
}


.markerInfo{
	width:320px;
	height:110px;
	position:absolute;
	bottom:-31px; left:-86px;
	background-color:#fff;
	border-radius:4px;
	display:flex;
	justify-content: flex-start;
	
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,.12);
	-moz-box-shadow: 0px 4px 4px 1px rgba(0,0,0,.12);
	box-shadow: 0px 4px 4px 1px rgba(0,0,0,.12);
}


.marker-class-img{
	width:110px;
	height:100%;
	overflow:hidden;
}

.marker-class-img > img{
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:4px 0px 0px 4px;
}


.marker-class-info{
	position:relative;
	top:0; left:0;
	width:210px;
	padding:10px;
}

.marker-class-no {
	position:absolute;
	top:0; left:0;
	display:block;
	width:100%;
	height:100%;
	z-index: 200;
}

.marker-class-info > div{
	font-size:13px;
}

.marker-class-name{
	font-weight: 500;
	color:#333;
	white-space: normal;
	overflow:hidden;
	text-overflow:ellipsis;

	word-break: break-all;
	word-wrap: break-word;
	display: -webkit-box; 
	-webkit-line-clamp: 1; 
	-webkit-box-orient: vertical;
}

.marker-class-info > div.marker-class-category{
	font-size:12px;
	color:#ff385c;
}

.marker-class-creator{
	font-size:13px;
	font-weight: 500;
	color:#999;
}


.marker-class-info > div.marker-class-addr{
	position:absolute;
	bottom:28px; right:10px;
	font-size:12px;
	color:#aaa;
}

.marker-class-price{
	position:absolute;
	bottom:10px; right:10px;
	font-weight: 600;
}










/******************* 클래스 목록 *******************/


.class-map-list {
	position:absolute;
	top:0; left:0;
	z-index:100;
	width:500px;
	height:100%;
	background-color:#fff;
	overflow:auto;
	
	-webkit-box-shadow: 0 4px 4px 3px rgba(0,0,0,.12);
	-moz-box-shadow: 0 4px 4px 3px rgba(0,0,0,.12);
	box-shadow: 0 4px 4px 3px rgba(0,0,0,.12);
}


.class-list1{

}


.class-list1-top{
	/*position:absolute;
	top:0; left:0;*/
	width:100%;
	padding:25px 30px 20px 33px;
	background-color:#f5f5f5;
}


.class-search{
	display:flex;
	justify-content: flex-start;
	flex-direction: column;
	padding:20px 0 0 0;
}

.class-search > input, .class-search > button{
	margin-bottom:10px;
}

.filter{
	display: flex;
	justify-content: flex-start;	
}

.class-search-bar{
	width:420px;
	height:40px;
	padding: 0 16px;
	margin-bottom:20px;
	background-color:#fff;
	border:1px solid #ddd;
	border-radius:5px;
	font-size:15px;
	color:#666;
}

.class-search-bar:focus-visible{
	outline:1px solid #aaa;
	border:1px solid #aaa;
}

.select-menu{
	height:40px;
	/*line-height:40px;*/
	padding: 0 16px;
	margin-bottom:20px;
	background-color:#fff;
	border:1px solid #ddd;
	border-radius:5px;
	font-size:15px;
	color:#666;
	text-align:left;
	cursor:pointer;
}

.select-menu:focus-visible{
	outline:1px solid #aaa;
	border:1px solid #aaa;
}

.select-place{
	width:170px;
}

.select-category{
	width:230px;
	margin-left:20px;
}

.class-search-btn{
	width:420px;
	line-height:40px;
	background-color:#ff385c;
	border:none;
	border-radius:5px;
	font-size:15px;
	color:#fff;
	cursor:pointer;
}

.class-search-btn:hover{
	background-color:#EC284C;
}

.class-search-btn:focus-visible{
	outline:none;
	border:none;
}


.class-list1 > ul{
	padding-bottom:30px;
	margin:0 auto;
}

.class-list1 > ul > li{
	display:flex;
	height:200px;
	padding:20px 20px 20px 23px;
	border-top:1px solid #e2e2e2;
}


.class-list1 > ul > li:hover{
	background-color:#EEFAFF;
}

.class-list-thumb{
	width:160px;
	height:100%;
	background-color:#eee;
	border-radius:5px;
	overflow:hidden;
}

.class-list-thumb > a > img{
	width:100%;
	height:100%;
	object-fit:cover;
}

.class-list-info{
	position:relative;
	top:0; left:0;
	width: 280px;
	height:100%;
	padding:5px 0px 5px 20px;
}




.class-category{
	font-size:13px;
	font-weight:500;
	color:#ff385c;
}

.class-name > a{
	font-size:15px;
	white-space: normal;
	overflow:hidden;
	text-overflow:ellipsis;

	word-break: break-all;
	word-wrap: break-word;
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
}


.class-creator{
	font-size:14px;
	font-weight: 500;
	color:#aaa;
}

.class-point{
	position:absolute;
	bottom:56px; right:0;
	width:104px;
	height:20px;
	text-align:right;
	font-size:13px;
	color:#FFB300;
	font-weight: 600;
}

.class-back-star{
	position:absolute;
	top:0; left:0px;
	width:80px;
	letter-spacing:-2px;
	white-space:nowrap;
	overflow:hidden;
	text-align:left;
	color:#d3d3d3;
}

.class-front-star{
	position:absolute;
	top:0; left:0px;
	width:80px;
	letter-spacing:-2px;
	white-space:nowrap;
	overflow:hidden;
	text-align:left;
	color:#FFB300;
}

.class-point i{
	width:14px;
	height:auto;
}


.class-like{
	position:absolute;
	bottom:32px; left:20px;
	font-size:13px;
	color:#ff385c;
	font-weight:600;
}

.class-addr{
	position:absolute;
	bottom:0px; left:20px;
	font-size:13px;
	color:#aaa;
}

.class-price{
	position:absolute;
	bottom:32px; right:0;
	font-size:17px;
	font-weight:600;
}

.class-price{
	text-align:right;
}

.more{
	text-align:center;
}

.more > button{
	width:180px;
	height:50px;
	margin-bottom:50px;
	font-size:17px;
	font-weight:600;
	color:#fff;
	background-color:#ff385c;
	border:none;
	border-radius:4px;
	cursor:pointer;
}

.more > button:hover{
	background-color:#EC284C;
}

.no-result-txt{
	text-align: center;
	color:#999;
	font-size:15px;
	margin-top:30px;
}



/** 푸터 **/

#footer {
	margin-top:0;
}


















