@charset "UTF-8";
	.myPage-accountEdit-Edit{
		margin: 0 auto;
		width: 450px;
		height: 1000px;
	}
	.account_edit_input-box, .account_edit_input-outline {
		display: block;
		position: relative;
	}
	.account_edit_input-outline{
		border: 1px solid #e5e5e5;
		width: 100%;
	}
	.account_edit_input, .account_edit_input_email{
		outline: 0;
		border: none;
		padding: 10px;
		font-size: 16px;
		width: 90%;
	}
	#account_edit_email{
		height: 40px;
	}
	#account_edit_input_email{
		width: 250px;
	}
	#account_edit_input_email_addr{
		width: 300px;
	}
	#account_edit_input_email, #account_edit_input_email_addr{
		float:left;
	}
	#account_edit_pwd_text, #account_edit_pwdCh_text, #account_edit_nick_text, #account_edit_emailCh_text, #account_edit_tel_text{
		float: left;
		font-size: 0.9em;
		padding: 2px;
	}
	.member_email_AtSign{
		float:left;
		font-family:fantasy;
		margin-top:7px;
		text-align:center;
		width:5%;
		color:  #333;
		font-size: 1.2em;
	}