@charset "UTF-8";


/* 사용자 기본 레이아웃 (헤더, 푸터 등) 스타일 */


/* header */

/*
.inner-lg{
	width:1200px;
	margin:0 auto;
}
*/

body{
	overflow:scroll;
	-webkit-overflow-scrolling:touch;
}

#header{
	position:absolute;
	top:0; left:0;
	width:100%;
	height:118px; /* #nav .gnb > li > a 의 height, #contents-wrap padding-top 같이 조절할 것*/
	z-index:600;
}

#header-top{
	position:absolute;
	top:0; left:0;
	width:100%;
	height:40px;
	padding-top:10px;
	background-color:#fff;
}

#header-top > .inner-lg{
	display:flex;
	justify-content: flex-end;
}

.tnb{
	display:flex;
	justify-content: flex-end;
	align-items:center;
	margin-right:30px;
}

.tnb.logout-menu{
	display:none;
}

.tnb li{
	margin-left:20px;
}



li.basket-btn a img{
	width:20px;
	height:20px;
}

.user-profile{
	width:30px;
	height:30px;
	overflow:hidden;
	border-radius:36px;
}

.user-profile > img{
	width:100%;
	height:100%;
	object-fit:cover;
}


.creator-home{
}
.creator-home > a{
	display:inline-block;
	width:140px;
	height:30px;
	line-height:30px;
	border-radius:4px;
	background-color:#fff;
	color:#333;
	border:1px solid #333;
	box-sizing:border-box;
	text-align:center;
	font-size:15px;
}


#header-bottom{
	position:absolute;
	top:40px; left:0;
	width:100%;
	padding:20px 0px 0;
	background-color:#fff;
	-webkit-box-shadow: 0 4px 4px -3px rgba(0,0,0,.15);
	-moz-box-shadow: 0 4px 4px -3px rgba(0,0,0,.15);
	box-shadow: 0 4px 4px -3px rgba(0,0,0,.15);
	opacity:1;
	z-index:601;
}

#header-bottom > .inner-lg{
	display: flex;
	justify-content: space-between;
	align-items:flex-start;
}

#header-bottom h1.logo{
	width:268px;
	height:30px;
	text-align: center;
	line-height:110px;
}

h1.logo > a {
	display:block;
	height:100%;
	background: url(../../img/etc/logo_w268.png) no-repeat;
	background-size:contain;
}


#nav{
	display: flex;
	justify-content: space-between;
}



.search-bar{
	width:270px;
	height:40px;
	outline: none;
	border:1px solid #999;
	border-radius:40px;
	padding:0 15px;
	font-size:15px;
}

input::placeholder {color:#aaa;}
input::-webkit-input-placeholder {color:#aaa;}
input:-ms-input-placeholder {color:#aaa;}
 
textarea::placeholder {color:#aaa;}
textarea::-webkit-input-placeholder {color:#aaa;}
textarea:-ms-input-placeholder {color:#aaa;}


#nav .gnb{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left:20px;
}


#nav .gnb > li{
	position:relative;
	padding:0 30px;
	line-height:40px;
	white-space:nowrap;
	text-align:center;
	z-index:200;
}

#nav .gnb > li > a{
	display:block;
	height:58px; /* header bottom 길이 조절할 때 같이 조절*/
	font-size:17px;
	font-weight: 400;
	/* font-family: 'GmarketSansMedium', sans-serif; */
}

#nav .gnb > li > a:hover{
	color:#FF385C;
	font-weight:500;
}

.sub-menu1{
	display: none;
	position:absolute;
	top:58px; left:0px;
	min-width:140px;
	/*padding:10px 0 10px 0px;*/
	justify-content: flex-start;
	flex-direction:column;
	background-color:#fff;
	
	-webkit-box-shadow:1px 4px 6px 1px rgba(0,0,0,.12);
	-moz-box-shadow: 1px 4px 6px 1px rgba(0,0,0,.12);
	box-shadow: 1px 4px 6px 1px rgba(0,0,0,.12);
}



li.c-center .sub-menu1{
	min-height:120px;
}

.sub-menu1 > li {
	position:relative;
	text-align:left;
	background-color:#fff;
	padding:0px 20px 0px 20px;
}

.sub-menu1 > li:first-child {
	padding-top:10px;
}

.sub-menu1 > li:last-child {
	padding-bottom:10px;
}

.sub-menu2{
	display: none;
	position:absolute;
	top:0px; left:140px;
	min-width:140px;
	padding:10px 20px 10px 20px;
	justify-content: flex-start;
	flex-direction:column;
	background-color:#f2f2f2;
	
	-webkit-box-shadow:1px 4px 6px 1px rgba(0,0,0,.12);
	-moz-box-shadow: 1px 4px 6px 1px rgba(0,0,0,.12);
	box-shadow: 1px 4px 6px 1px rgba(0,0,0,.12);
}




/* contents-wrap */

#contents-wrap{
	padding-top:118px; /* header 높이 조절 시 같이 조절*/
	min-height:640px;
}







/* footer */

footer{
	height:250px;
	margin-top:100px;
	background-color:#333;
	padding-top:50px;
}

footer > div{
	color:#bbb;
	font-size:15px;
	line-height:26px;
}

















