@charset "UTF-8";



/******* 공통 후기 CSS *******/


textarea{
	resize:none;
}

.review-chart{
	height:150px;
	border-radius:8px;
	background-color:#f2f2f2;
}

.review-wrap{
	margin-top:30px;
	
}

.review-top{
	height:50px;
	line-height:50px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}


.review-list > ul > li{ /* .review-content // .my-review-content */
	padding:28px 10px;
	border-bottom:1px solid #ddd;
}

.review-list > ul > li .user-review{
	display:flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}


.review-info{
	display:flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}

.user-img{
	width:34px;
	height:34px;
	margin-right:10px;
	border-radius:20px;
	overflow:hidden;
	text-align:center;
}

.user-img > img{
	width: 100%;
	height:100%;
	object-fit: cover;
}

.user-review-info{
	font-size:13px;	
}

.user-review-info > p:first-child{
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.review-info .star{
	color:#FFB300;
}


.review-content{
	display:flex;
	justify-content:flex-start;
	align-items:flex-start;
}

.review-img{
	width:120px;
	min-width:120px;
	height:120px;
	overflow:hidden;
	border-radius: 5px;
	margin-left:30px;
}

.review-img > img{
	width: 100%;
	height:100%;
	object-fit: cover;
	border-radius: 5px;
}

.review-text{
	width:auto;
	max-height:125px;
	margin-left:10px;
	
	font-size:14px;
	color:#666;
	line-height:1.5;
	white-space: normal;
	overflow:hidden;
	text-overflow:ellipsis;

	word-break: break-all;
	word-wrap: break-word;
	display: -webkit-box; 
	-webkit-line-clamp: 6; 
	-webkit-box-orient: vertical;
}

.more-btn{
	margin-left:150px;
}

.more-btn > input{
	font-size:14px;
	font-weight:500;
	color:#aaa;
	text-decoration: underline;
	border:none;
	background-color:#fff;
	cursor:pointer;
}


/**************** 댓글 ****************/

.review-comment-list{
	display:flex;
	justify-content: flex-start;
	flex-direction: column;
	background-color:#fff;
	padding:15px 40px 15px 40px;
	border-radius: 5px;
}

.review-comment{
	display:flex;
	justify-content: flex-start;
	flex-direction:column;
	align-items: flex-end;
}

.comment-item{
	display:flex;
	justify-content: flex-start;
	align-items: center;
	margin:10px 0 15px;
}

.review-comment-list .comment-info {
	width:30px;
	margin-right:16px;
}

.class-review-content .review-comment-list .user-img{
	width:30px;
	height:30px;
}

.class-review-content .review-comment-list .comment-text{
	width:654px;
	font-size:14px;
	color:#666;
}

span.user-review-info{
	display:inline-block;
	margin-right:10px;
	font-size:15px;
	font-weight:700;
	color:#444;
}


.comment-delete{
	color:#999;
}

.comment-menu{
	margin-top:5px;
}

.comment-menu > span, .comment-menu > a{
	display:inline-block;
	margin-right:10px;
	font-size:13px;
	color:#777;
}

.comment-menu > span{
	font-weight: 500;
}

.comment-menu > a{
	font-weight: 600;
}

.comment-menu > .write-re-comment-btn{
	color:#ff385c;
}

.comment-menu > a.comment-delete{
	font-weight: 500;
	color:#aaa;
}


.review-comment-write{
	display:flex;
	justify-content: flex-start;
	align-items: center;
	width:700px;
	padding:0 40px 0 0px;
}


.reviewCommentFrm, .replyFrm{
	display:flex;
	justify-content: flex-start;
	align-items: center;
	width:700px;
}

.reviewCommentFrm{
	width:700px;
	margin-top:25px;
}

.replyFrm{
	margin-bottom:20px;
	margin-top:5px;
}


.review-reply{
	width:590px;
	min-height:50px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding:6px 10px;
}

.replyFrm > .review-reply{
	width:545px;
	min-height:50px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding:6px 10px;
}

.review-reply-btn{
	width:50px;
	height:36px;
	margin-left:14px;
	border: none;
	background-color:#ff385c;
	color:#fff;
	border-radius: 5px;
	cursor:pointer;
}



/*************** 대댓글 ***************/


.comment-reply{
	width:660px;
	padding:0px 20px 0;
	background-color:#f5f5f5;
	border-radius: 7px;
}

.reply-text{
	width:618px;
	font-size:14px;
	color:#666;
}




/******* // 공통 후기 CSS ---- End *******/




/********* 클래스 상세페이지 - 후기 **********/


.class-review-cnt{
	display:inline-block;
	margin-left:10px;
	color:#ff385c;
	font-weight: 700;
}


.class-review-content .review-info{
	width:140px;
}


.class-review-content .review-content, .class-review-content .comment-text{
	width:640px;
}

.class-review-content .review-text{
	min-width:480px;
}


.class-review-content .star{
	margin-top:10px;
	position:relative;
	top:0; left:0;
	width:108px;
	height:20px;
	text-align:left;
	font-size:18px;
	letter-spacing:-3px;
}

.class-review-content .star .back-star{
	position:absolute;
	top:0; left:0;
	width:108px;
	white-space:nowrap;
	overflow:hidden;
	text-align:left;
	color:#d3d3d3;
}

.class-review-content .star .front-star{
	position:absolute;
	top:0; left:0;
	width:108px;
	white-space:nowrap;
	overflow:hidden;
	text-align:left;
	color:#FFB300;;
}





/********** 나의 후기 ***********/

.my-review-content .class-name{
	margin-bottom:22px;
}

.my-review-content .class-name > a{
	font-weight:500;
	font-size:17px;
}


.my-review-content .review-info{
	width:140px;
}


.my-review-content .user-review-info{
	width:90px;
}


.my-review-content .review-info .star{
	margin-top:10px;
	position:relative;
	top:0; left:0;
	width:95px;
	height:20px;
	text-align:left;
	font-size:16px;
	letter-spacing:-3px;
}

.my-review-content .review-info .star .back-star{
	position:absolute;
	top:0; left:0;
	width:95px;
	white-space:nowrap;
	overflow:hidden;
	text-align:left;
	color:#d3d3d3;
}

.my-review-content .review-info .star .front-star{
	position:absolute;
	top:0; left:0;
	width:95px;
	white-space:nowrap;
	overflow:hidden;
	text-align:left;
	color:#FFB300;;
}

.my-review-content .review-content{
	width:840px;
}

.my-review-content .review-text{
	min-width:680px;
}






/****************** 후기 작성 모달 *******************/

/* 후기 타이틀 */
.review-modal{
	position:fixed;
	top:0; left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.5);
	z-index:700;
}

.scroll-wrap{
	width:100%;
	max-height:100%;
	overflow:auto;
}

.review-modal-wrap{
	position:relative;
	width:650px;
	margin:50px auto;
	background-color:#fff;
	border-radius: 15px;
	-webkit-box-shadow: 0px 8px 28px rgba(0,0,0,.28);
	-moz-box-shadow: 0px 8px 28px rgba(0,0,0,.28);
	box-shadow: 0px 8px 28px rgba(0,0,0,.28);
	overflow:hidden;
}

.review-modal-inner{
	padding:35px 38px 38px;
}

.modal-title > h3{
	text-align:center;
	margin-bottom:26px;
}

.modal-close{
	position:absolute;
	top:10px; right:10px;
	border:none;
	width:20px;
	height:20px;
	background-color:#fff;
	cursor:pointer;
}




/* 후기 작성 폼*/

#reviewWrite h4{
	margin-top:26px;
	padding-bottom:18px;
	font-size:18px;
	font-weight:500;
}

.review-class{
	display:flex;
	justify-content: flex-start;
	align-items: center;
	height:110px;
}

.review-class-img{
	width:110px;
	height:110px;
	background-color:#eee;
	border-radius: 5px;
	overflow:hidden;
}

.review-class-img > img{
	width: 100%;
	height:100%;
	object-fit: cover;
}

.review-class-info{
	width:484px;
	padding-left:20px;
}

.review-class-info > .class-name{
	font-size:15px;
	color:#333;
}

.review-class-info > .class-creator{
	font-size:14px;
	color:#999;
}

.review-class-info > .class-price{
	font-weight:600;
	margin-top:10px;
	position:relative;
	top:0; left:0;
	text-align:left;
}


.star-point{
	font-size:54px;
	text-align:center;
	letter-spacing:-3px;
}

.star-point .fa-star{
	cursor:pointer;
	color:#d3d3d3;
}


.star-txt{
	height:41px;
	padding-top:8px;
	text-align:center;
	color:#999;
	font-size:16px;
}

.star-txt > span:first-child{
	color:#ff385c;
	font-size:27px;
	font-weight: 700;
}


.star-txt > span:nth-child(2){
	color:#ff385c;
	font-size:18px;
	font-weight: 700;
}

.review-write-text > textarea{
	width:100%;
	height:150px;
	box-sizing:border-box;
	outline: none;
	border:1px solid #ddd;
	padding:10px 10px;
	border-radius: 6px;
}


.file-view{
	display:none;
	position:relative;
	top:0; left:0;
	height:200px;
	background-color:#eee;
	border-radius: 6px;
	margin-bottom:10px;
	overflow:hidden;
	text-align: center;
}

.file-view > img{
	width: auto;
	max-width:100%;
	height:100%;
}

.upload-delete{
	position:absolute;
	top:12px; right:12px;
	width:70px;
	line-height:33px;
	border-radius: 4px;
	border:none;
	background-color:#ff385c;
	color:#fff;
	font-size:15px;
	font-weight: 400;
	cursor:pointer;
}

.upload-btn{
	width:100%;
	height:50px;
	line-height:50px;
	border-radius: 6px;
	border:1px solid #ff385c;
	background-color:#fff;
	color:#ff385c;
	font-size:16px;
	font-weight: 500;
	cursor:pointer;
}


.review-btn-wrap{
	display:flex;
	justify-content: space-between;
	margin-top:32px;
}

.review-btn{
	width:49.5%;
	line-height:50px;
	border-radius:6px;
	border:none;
	font-size:16px;
	cursor:pointer;
}

#review-cancel-btn{
	background-color:#bbb;
	color:#fff;
}

#review-cancel-btn:hover{
	background-color:#aaa;
}

#review-ok-btn{
	background-color:#FF385C;
	color:#fff;	
}

#review-ok-btn:hover{
	background-color:#EC284C;
}


.modal-explain{
	background-color:#f5f5f5;
	border-top:1px solid #ececec;
	font-size:13px;
	padding:25px 35px 40px;
}


/* 페이징 */

.review-paging{
	margin-top:30px;
}

.review-paging > ul{
	display:flex;
	justify-content: center;
}

.review-paging > ul > li{
	margin-left:5px;
}

.review-paging > ul > li:first-child{
	margin-left:0px;
}

.page-num > a {
	display:block;
	width:26px;
	height:26px;
	line-height:26px;
	border-radius: 5px;
	text-align: center;
	font-weight: 600;
	color:#333;
}

.page-num.active > a{
	background-color:#ff385c;
	color:#fff;
}

#prev-page > a, #next-page > a{
	border:1px solid #ddd;
	background-color:#fff;
}

#prev-page > a:hover, #next-page > a:hover {
	color:#333;
	opacity: 0.6;
}




.select-class-list{
	width:100%;
	height:45px;
	font-size:15px;
	padding:0 10px;
}




















