@charset "UTF-8";





.search-box{
	display: flex;
	justify-content: flex-end;
	margin-right:10px;
}

.search-box input, .search-box label{
	margin-left:10px;
}

.list-wrap{
	margin-top:30px;
}

.calcu-list{
	overflow:hidden;
}

.calcu-col{
	margin-top:10px;
}

#calcuList{
	clear:both;
}

.calcu-list li{
	width:14%;
	float:left;
	border-bottom:1px solid #ddd;
	height:45px;
	line-height:45px;
}

.c-col{
	border-top:1px solid #ddd;
	text-align: center;
	font-weight: 500;
	background-color:#eee;
}

.c-item{
	text-align: center;
}

.calcu-list li.col-check{
	width:5%;
}

.col-check{
	clear:both;
}

.col-creator-id{
	width:14%;
}

.calcu-list li.col-end-date, .calcu-list li.col-calcu-dday, .calcu-list li.col-calcu-date{
	width:13%;
}

.c-item.col-calcu-price, .c-item.col-sum-price, .c-item.col-sum-charge{
	text-align: right;
	padding-right:3%;
}

.calcu-paging{
	clear:both;
}


.calcu-btn-wrap{
	width:100%;
	display: flex;
	justify-content: flex-end;
}

.calcu-btn{
	display: inline-block;
	width:140px;
	height:45px;
	line-height:45px;
	color:#fff;
	background-color:#ff385c;
	border:none;
	font-size:16px;
	font-weight: 600;
	border-radius: 5px;
	margin-top:20px;
	cursor: pointer;
}




/* 페이징 */

.calcu-paging{
	margin-top:30px;
}

.calcu-paging > ul{
	display:flex;
	justify-content: center;
}

.calcu-paging > ul > li{
	margin-left:5px;
}

.calcu-paging > ul > li:first-child{
	margin-left:0px;
}

.page-num > a {
	display:block;
	width:26px;
	height:26px;
	line-height:26px;
	border-radius: 5px;
	text-align: center;
	font-weight: 600;
	color:#333;
}

.page-num.active > a{
	background-color:#ff385c;
	color:#fff;
}

#prev-page > a, #next-page > a{
	border:1px solid #ddd;
	background-color:#fff;
}

#prev-page > a:hover, #next-page > a:hover {
	color:#333;
	opacity: 0.6;
}



















